/*首页中的样式*/
a,a:hover{
    color: #555555;
    text-decoration: none;
}
/*第一行*/
.header{
    color:#fff;
}
.header .row-one{
    margin:0;
    background:#00AE66;
}
.row-one>div{padding: 0;}
.row-one .row_one2>ul{
    margin:8px 15px 0 0;
    text-align: center;
    height: 42px;
}
.row-one .row_one2>ul>li>a{
    color:#ffffff;
}
.row-one ul>li>a{
    font-size: 12px;
}
.row-two img{
    background-size: cover;
}
/*第三部分*/
.row-three{
    background: #F9F9F9;
    height:66px;
}
.row-three .row_three2>p{
    height:66px;
    line-height:60px;
    font-size:14px;
    font-weight: 700;
    border-right: 1px solid #ccc;
}
.row-three .row_three3>ul>li{
    font-size: 16px;
}
.row-three .row_three3>ul>li>span{font-size: 26px;margin:10px 0px;}
/*第四部分*/
.row-four{
    height:66px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    text-align: center;
    font-weight: 700;
}
.row-four ul>li{
    border-right:1px solid #ccc;
}
.row-four ul>li>a{color:#DE6843;}
.row-four>div:nth-child(3)>ul>li{border-right: none;}
/*第五部分*/
.row-five,.row-six,.row-seven{
    height:50px;
    line-height: 50px;
    border-bottom: 1px solid #ccc;
}
.row-five>span,.row-six>p{margin-left: 10px;}
/*第六部分*/
.row-six>span{
    color:#626693;
}
/*第七部分*/
.row-seven{
    height:50px;
}
/*最后一部分*/
.row-end{
    height:60px;
    padding:10px 0px 10px 16px;
}